@tailwind base;
@tailwind components;
@tailwind utilities;

.swal-footer {
  text-align: center;
}

@layer base {
  @font-face {
    font-family: poppins-black;
    src: url(/fonts/Poppins/Poppins-Black.ttf) format(truetype);
  }

  @font-face {
    font-family: poppins-bold;
    src: url(/fonts/Poppins/Poppins-Bold.ttf) format(truetype);
  }
  @font-face {
    font-family: poppins-xBold;
    src: url(/fonts/Poppins/Poppins-ExtraBold.ttf) format(truetype);
  }

  @font-face {
    font-family: poppins-light;
    src: url(/fonts/Poppins/Poppins-Light.ttf) format(truetype);
  }
  @font-face {
    font-family: poppins-xLight;
    src: url(/fonts/Poppins/Poppins-ExtraLight.ttf) format(truetype);
  }

  @font-face {
    font-family: poppins-medium;
    src: url(/fonts/Poppins/Poppins-Medium.ttf) format(truetype);
  }

  @font-face {
    font-family: poppins-regular;
    src: url(/fonts/Poppins/Poppins-Regular.ttf) format(truetype);
  }

  @font-face {
    font-family: poppins-semiBold;
    src: url(/fonts/Poppins/Poppins-SemiBold.ttf) format(truetype);
  }

  @font-face {
    font-family: poppins-thin;
    src: url(/fonts/Poppins/Poppins-Thin.ttf) format(truetype);
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #f4f4f5;
    font-family: poppins-regular;
    overflow-x: hidden;
  }
}

@layer utilities {
  .gradient {
    background: linear-gradient(
      to bottom,
      transparent 20%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }
}

@layer components {
  .marker {
    @apply relative font-poppins-semiBold before:content-[''] before:absolute before:-left-3 2xs:before:-left-10 lg:before:-left-20
        before:-bottom-4 before:w-14 2xs:before:w-28 lg:before:w-48 before:h-1 before:z-10 before:bg-purple-600;
  }
}
